.wsk-cp-img img {
  width: 100%;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}

.wsk-cp-product:hover .wsk-cp-img {
  top: -40px;
}

.wsk-cp-product:hover .wsk-cp-img img {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

//Contact us
.thumbnail {
  position: relative;
}

$numbers: (
    "twentyfive":20%,
    "fifty": 50%,
    "seventyfive": 80%,
);

@each $number, $i in $numbers {
    .caption {
        &.#{$number} {
            top: $i;
        }	
    }
}

.caption {
  position: absolute;
  left: 0;
  width: 100%;
}

.adapt {
  height: 580px;
}